@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  @apply text-xl
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  caret-color: transparent;
}

input {
  @apply bg-slate-50 border rounded-md outline-none p-1 border-slate-300 caret-zinc-800
}

.default-button {
  @apply px-2 border rounded-md bg-blue-600 text-white;
}

nav {
  @apply bg-zinc-50 flex gap-x-4 justify-end p-4 border-b-2 w-screen
}

nav ul {
  @apply flex gap-x-4
}

.chatbot-outter-layout {
  @apply w-screen h-screen border bg-slate-100 flex flex-col items-center justify-between 
}

.chatbot-convo-frame {
  @apply h-96 overflow-y-scroll bg-slate-100 px-8 sm:px-32 tracking-wide leading-loose
}

.chatbot-prompt-frame{
  @apply w-5/6 xl:w-3/5 mb-10 h-32 border bg-slate-200 px-4 flex flex-col justify-center gap-4 rounded-3xl
}

.chatbot-prompt-frame input{
  @apply w-full h-full bg-transparent border-transparent outline-none
}