@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  @apply bg-slate-50 border rounded-md
}

button {
  @apply px-2 border rounded-md bg-blue-500 text-white;
}

nav {
  @apply flex gap-x-4 justify-end p-4 border-b-2
}

nav ul {
  @apply flex gap-x-4
}